# PyCity Schools Analysis

In [35]:
#import libraries
import pandas as pd
from pathlib import Path

#load in csv files
school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")

school_data = pd.read_csv(school_path)
student_data = pd.read_csv(student_path)


schools = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
schools.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [72]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].unique()
school_count

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [26]:
# Calculate the total number of students
student_count = school_data["size"].sum()
student_count

39170

In [19]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [22]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [23]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [24]:
# Calculate the percentage of students who passed math 
passing_math_count = schools[(schools["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [29]:
# Calculate the percentage of students who passed reading 
passing_reading_count = schools[(schools["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [30]:
# Calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [34]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
    {"Number of Schools": [school_count], "Total Students" : [student_count] ,
    "Total Budget" : [total_budget] , "Average Math Score" : [average_math_score],
     "Average Reading Score" : [average_reading_score], " % Passing Math" : [passing_math_percentage],
     "% Passing Reading" : [passing_reading_percentage], "% Overall Passing" : [overall_passing_rate]
    })

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## Schools Summary

In [39]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [37]:
per_school_counts = school_data.set_index(["school_name"])["size"]

In [74]:
# Calculate the total school budget and per capita spending
per_school_budget = schools.groupby(["school_name"])["budget"].mean()
per_school_capita = per_school_budget / per_school_counts

In [73]:
# Calculate the average test scores
per_school_math = schools.groupby(["school_name"])["math_score"].mean()
per_school_reading = schools.groupby(["school_name"])["reading_score"].mean()

In [68]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = schools[(schools["math_score"] >= 70)]

In [69]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = schools[(schools["reading_score"] >= 70)]

In [70]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = schools[
    (schools["reading_score"] >= 70) & (schools["math_score"] >= 70)
]

In [71]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"])["student_name"].count() / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"])["student_name"].count() / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"])["student_name"].count() / per_school_counts * 100

In [78]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type" : [school_types], "Total Students" : [per_school_counts],
                                  "Total School Budget" : [per_school_budget], "Per Student Budget" : [per_school_capita], 
                                  "Average Math Score" : [per_school_math], "Average Reading Score": [per_school_reading],
                                  "% Passing Math" : [per_school_passing_math], "% Passing Reading": [per_school_passing_reading],
                                  "% Overall Passing" : [overall_passing_rate]})

# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Huang High School 2917 Figu...,school_name Bailey High School 3124928.0...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...